@using Frontend.Common
@using Frontend.Models
@using Frontend.ViewModels
@using Microsoft.AspNetCore.Components
@using Shared
@using Shared.DTOs

@inherits UserViewModel;

    <div class="dock-body">
        <div>
            <label class="mt-2">Login</label>
            <input class="form-control" type="text" @bind="LocalUser.Login" disabled="@IsLoading" />

            <label class="mt-2">Full Name</label>
            <input class="form-control" type="text" @bind="LocalUser.FullName" disabled="@IsLoading" />

            @if( @Mode == @UserFormMode.EDIT )
            {
                <div class="form-check mt-3">
                    <input class="form-check-input"
                            type="checkbox"
                            id="updatePasswordCheck"
                            @bind="UpdatePassword"
                            disabled="@IsLoading" />
                    <label class="form-check-label" for="updatePasswordCheck">
                        Update password
                    </label>
                </div>
            }

            @if (@UpdatePassword)
            {
                <label class="mt-2">Current Password</label>
                <div class="input-group">
                    <input class="form-control"
                    type=@(showPassword[PwdField.Current] ? "text" : "password")
                    @bind="LocalUser.CurrentPassword" 
                    disabled="@IsLoading" />

                    <button type="button"
                    class="btn btn-outline-secondary"
                    @onclick='() => TogglePasswordVisibility(PwdField.Current)'
                    tabindex="-1"
                    disabled="@IsLoading">
                        <i class="bi @(showPassword[PwdField.Current] ? "bi-eye-slash" : "bi-eye")"></i>
                    </button>
                </div>
            }

            @if (@UpdatePassword || @Mode == @UserFormMode.NEW )
            {
                <label class="mt-2">New Password</label>
                <div class="input-group">
                    <input class="form-control"
                    type=@(showPassword[PwdField.New] ? "text" : "password")
                    @bind="LocalUser.NewPassword" 
                    disabled="@IsLoading" />

                    <button type="button"
                    class="btn btn-outline-secondary"
                    @onclick='() => TogglePasswordVisibility(PwdField.New)'
                    tabindex="-1"
                    disabled="@IsLoading">
                        <i class="bi @(showPassword[PwdField.New] ? "bi-eye-slash" : "bi-eye")"></i>
                    </button>
                </div>


                <label class="mt-2">Confirm Password</label>
                <div class="input-group">
                    <input class="form-control"
                    type=@(showPassword[PwdField.Confirm] ? "text" : "password")
                    @bind="LocalUser.ConfirmPassword" 
                    disabled="@IsLoading" />

                    <button type="button"
                    class="btn btn-outline-secondary"
                    @onclick='() => TogglePasswordVisibility(PwdField.Confirm)'
                    tabindex="-1"
                    disabled="@IsLoading">
                        <i class="bi @(showPassword[PwdField.Confirm] ? "bi-eye-slash" : "bi-eye")"></i>
                    </button>
                </div>        
            }
        </div>
        </div>
                    

    <div class="dock-footer">
        <button class="btn btn-danger" @onclick="Delete" disabled="@IsLoading">Delete user</button>
        <button class="btn btn-primary" @onclick="Submit" disabled="@IsLoading">Submit</button>
    </div>
    

    <InfoDialog Show="@ShowInfoDialog"
                Title="@InfoTitle"
                Message="@InfoMessage"
                OnClose="() => ShowInfoDialog = false" />

@if (IsLoading)
{
    <div class="loading-overlay">
        <div class="loading-box">
            <div class="spinner-border mb-2"></div>
            <div>@LoadingMessage</div>
        </div>
    </div>
}


@code {
    [Parameter]
    public UserFormMode Mode { get; set; }  // Accept the enum value

    [Parameter] public EventCallback OnClose { get; set; }

    [Parameter]
    public bool UpdatePassword { get; set; } = false;

    [Parameter]
    public List<User>? AllUsers { get; set; } 

    [Parameter]
    public int? CurrentUserId { get; set; } 

    private bool IsLoading;
    private string LoadingMessage = "Processing...";


    private EditUser LocalUser = new();

    private bool ShowInfoDialog { get; set; }

    private string? InfoTitle { get; set; }

    private string? InfoMessage { get; set; }

    protected override void OnParametersSet()
    {
        switch (Mode)
        {
            case UserFormMode.EDIT:
                {
                    if (SelectedUser == null)
                        return;

                    // Clone user to local object
                    LocalUser = new EditUser
                {
                    Id = SelectedUser.Id,
                    Login = SelectedUser.Login,
                    FullName = SelectedUser.FullName
                };

                    //Console.WriteLine("Clone no good:" +
                    //  Object.ReferenceEquals(SelectedUser, LocalUser));
                    break;
                }
            case UserFormMode.NEW:
                {
                    Console.WriteLine("new user Form");
                    LocalUser = new EditUser();
                    break;
                }
            default:
                break;
        }
    }

    private async Task DeleteUser(EditUser edited)
    {
        if (CurrentUserId == edited.Id)
        {
            RaiseInfoDlg("Error", "Cannot delete user currenly login. Logout first");
            return;
        }

        var user = AllUsers!.FirstOrDefault(u => u.Id == edited.Id);
        if (user == null) 
        {
            RaiseInfoDlg("Error", "Cannot delete user. User not found");
            return;
        }
        Console.WriteLine("delete User " + edited.Id);

        UserLoginDto loginBody = new UserLoginDto
        {
            Id = edited.Id,
            PwdHashed = ""
        };

        bool bSuccess = await UserService.DeleteAsync(loginBody);
        if (bSuccess)
            AllUsers!.Remove(user);


        await OnClose.InvokeAsync();
    }


    private async Task HandleUserCreate(EditUser edited)
    {        
        UserDto dtoUserRequest = new()
        {
            Id = 0,
            FullName = edited.FullName,
            Login = edited.Login,
            HashedPwd = HashUtil.HashClient(edited.NewPassword)
        };
        UserDto? dtoUserResponse = await UserService.CreateUserAsync(dtoUserRequest);
        Console.WriteLine("User created? " + dtoUserResponse != null);
        if (dtoUserResponse != null) // in Response there is Id set on server        
        {
            Console.WriteLine("User created! Id= " + dtoUserResponse.Id );
            
            if (!AllUsers!.Any(u => u.Id == dtoUserResponse.Id)) // might be added by SignalR notification already
            {
                User user = new User(dtoUserResponse);
                AllUsers!.Add(user);
            }
        }

        //ShowUserDialog = false;
    }



    private async Task HandleUserUpdate(EditUser edited)
    {
        var user = AllUsers!.FirstOrDefault(u => u.Id == edited.Id);
        if (user == null)
            return;


        bool isLoginChanged = user.Login != edited.Login;
        bool isFullNameChanged = user.FullName != edited.FullName;

        bool isPasswordChanged = edited.IsPasswordUpdated;

        if (isPasswordChanged)
        {
            string currPwd = HashUtil.HashClient(edited.CurrentPassword);
            bool valid = HashUtil.VerifyPasswordServer(currPwd, user.HashedPwd);
            if (!valid)
            {
                Console.WriteLine(" *** Invalid password");
                ShowEditUserDialog = false;

                return;
            }
            Console.WriteLine(" *** Valid password, will be updated");

        }

        UserDto dtoUser = new()
        {
            Id = edited.Id,
            FullName = edited.FullName,
            Login = edited.Login,
            HashedPwd = HashUtil.HashClient(edited.NewPassword),
            IsPasswordUpdated = edited.IsPasswordUpdated
        };
        UserDto? dto = await UserService.EditUserAsync(dtoUser);
        Console.WriteLine("User updated? " + dto != null);
        if (dto != null) // Restore response Dto to live reference
        {
            user.Login = dto.Login;
            user.FullName = dto.FullName;
            if (dto.IsPasswordUpdated)
                user.HashedPwd = dto.HashedPwd;
        }
    }
    // -------------------------------------------------------------

    private void RaiseInfoDlg( string sTitle, string sMsg)
    {
        InfoTitle = sTitle;
        InfoMessage = sMsg;
        ShowInfoDialog = true;
    }



    public async Task Cancel()
        => await OnClose.InvokeAsync();

    private bool ValidateInput()
    {
        if (string.IsNullOrEmpty(LocalUser.Login))
        {
            RaiseInfoDlg("Login field Error", "Login  field cannot be empty!");
            return false;
        }

        if (string.IsNullOrEmpty(LocalUser.FullName))
        {
            RaiseInfoDlg("Full Name field Error", "Full Name  field cannot be empty!");
            return false;
        }

        return ValidatePasswords();
    }

    private bool ValidatePasswords()
    {
        if (Mode == UserFormMode.EDIT && !UpdatePassword )
            return true;


        if (string.IsNullOrEmpty(LocalUser.NewPassword) ||
            string.IsNullOrEmpty(LocalUser.ConfirmPassword))
        {
            RaiseInfoDlg("Password field Error", "No Password field can be empty!");
            return false;
        }

        if (LocalUser.NewPassword != LocalUser.ConfirmPassword)
        {
            RaiseInfoDlg("New Password mismatch", "New Password and Confirm Password do not match!");
            return false;
        }

        if (Mode == UserFormMode.EDIT && string.IsNullOrEmpty(LocalUser.CurrentPassword))
        {
            RaiseInfoDlg("Password field Error", "No Password field can be empty!");
            return false;
        }

        return true;
    }


    private async Task HandleSubmission(EditUser LocalUser)
    {
        if (Mode == UserFormMode.EDIT)
            await HandleUserUpdate(LocalUser);
        else if (Mode == UserFormMode.NEW)
            await HandleUserCreate(LocalUser);

    }

    public async Task Submit() 
    {
        if (!ValidateInput())
            return;

        try
        {
            IsLoading = true;
            LoadingMessage = "Processing...";
            StateHasChanged();

            LocalUser.IsPasswordUpdated = UpdatePassword;
            await HandleSubmission(LocalUser);
        }
        finally
        {
            IsLoading = false;
            StateHasChanged();
        }
    }

    public async Task Delete()
    {
        await DeleteUser(LocalUser);
    }

    #region PasswordVisibilty 

    private enum PwdField
    {
        Current,
        New,
        Confirm
    }

    private Dictionary<PwdField, bool> showPassword = new()
    {
        { PwdField.Current, false },
        { PwdField.New, false },
        { PwdField.Confirm, false }
    };

    private void TogglePasswordVisibility(PwdField field)
    {
        if (showPassword.ContainsKey(field))
        {
            showPassword[field] = !showPassword[field];
        }
    }
    #endregion
}

