@page "/usersPage"
@inject Frontend.Services.UserApiService UserService

@using Frontend.Components
@using Frontend.ViewModels

@inherits UsersPageViewModel;




<PageTitle>Users Page</PageTitle>

<h1>Users</h1>
<hr />

@if( CurrentUserId == null ) 
{
    <h3>You are not logged in</h3>
}
else
{
    <h3>Welcome, @(AllUsers.FirstOrDefault(u => u.Id == CurrentUserId)!.FullName)!</h3>

}    


<button class="btn btn-primary mt-2" @onclick="OpenLoginDialog" disabled=@(CurrentUserId != null)>
        Login
    </button>
<button class="btn btn-primary mt-2" @onclick=Logout disabled=@(CurrentUserId == null)>
        Logout
    </button>
<button class="btn btn-primary mt-2" @onclick="() => EditUser(CurrentUserId)" disabled=@(CurrentUserId == null)>
        Edit User
    </button>
    <button class="btn btn-primary mt-2" @onclick="Register">
        Register
    </button>
<hr />

@if (AllUsers == null || AllUsers.Count == 0)
{
    <p>Loading users ...</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in AllUsers)
            {
                <tr
                    @ondblclick="() => EditUser(user.Id)">
                    <td>@user.FullName</td>
                    <td>
                        <span class="badge @(user.IsOnline ? "bg-success" : "bg-light text-dark")">
                            @(user.IsOnline ? " Online " : " Offline ")
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<LoginDialog Show="ShowLoginDialog"
             OfflineUsers="OfflineUsers"
             OnConfirm="HandleLoginConfirm"
             OnCancel="LoginCancel" />

@if (EditUserId != null)
{
    <UserDialog SelectedUser="@AllUsers!.FirstOrDefault(u => u.Id == EditUserId)"
                ExistingPassword="@AllUsers!.FirstOrDefault(u => u.Id == EditUserId)!.HashedPwd"
                ShowEditUserDialog="@ShowPwdDialog"     />
}
 
 


@code {

    protected override async Task OnInitializedAsync()
    {

        OnStateChanged += () =>
        {
            InvokeAsync(StateHasChanged);
        };

        await LoadUsersAsync();
    }
    


    private async Task EditUser(int? userId)
    {
        Console.WriteLine("EditUser clicked userId=" +userId);
        EditUserId = userId;
        ShowPwdDialog = true;
        StateHasChanged();
    }

    private async Task Register()
    {
        Console.WriteLine("Register clicked");
        StateHasChanged();
    }

    private async Task HandleLoginConfirm((string login, string password) data)
    {
        SelectedLogin = data.login;
        Password = data.password;

        await LoginOk();
    }

}
